<%= fa_icon 'bars 2x', class: 'js-menu-trigger sliding-panel-button' %>
<nav class="js-menu sliding-panel-content">
  <ul>
    <li><%= link_to 'Home', root_path%></li>
    <li><%= link_to 'Admin', admin_path%></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
